<div class="main_form">
  <form action="" class="form">
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai1.png" alt="">
        <ion-input type="text" id="name" placeholder="Name"></ion-input>
      </div>
    </div>
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai2.png" alt="">
        <ion-input type="email" id="email" placeholder="Email"></ion-input>
      </div>
    </div>
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai3.png" alt="">
        <ion-input type="text" id="mno" placeholder="Mobile Number"></ion-input>
      </div>
    </div>
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai4.png" alt="">
        <ion-input type="text" id="sname" placeholder="Business / Shop name"></ion-input>
      </div>
    </div>
    <div class="form_sec_details">
      <div class="form_portion">
        <img src="assets/images/uai5.png" alt="">
        <ion-input type="text" id="pin" placeholder="Shop Pincode, ex: 960000"></ion-input>
      </div>
    </div>
      
     
  </form>
</div>
